<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Mean App</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa saepe, ratione, fugit dolorem natus aliquam quis velit doloremque. Facilis voluptatibus explicabo quam illum. Laudantium sapiente repudiandae nam. Quod id, deleniti! </p>
		<p class="text-center">
			<a class="btn btn-primary " routerLink="/register">Register</a>
			<a class="btn btn-default " routerLink="/login">login</a>

		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Express cli</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aliquam pariatur consectetur nemo obcaecati, ex, velit dignissimos itaque consequuntur voluptatem laboriosam officia repellendus asperiores, illum, earum nisi odit voluptatum commodi! </p>
		</div>
		<div class="col-sm-4">
			<h3>Angular cli</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis suscipit illo, modi asperiores numquam, aperiam, architecto nostrum, iusto fuga commodi odit cum dolor ducimus pariatur! Debitis, illum modi! Amet, veritatis. </p>
		</div>
		<div class="col-sm-4"><h3>json web token</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis omnis commodi nisi placeat consequatur impedit molestias iure ratione alias, quia vero ipsam beatae iste perferendis earum, tempore aspernatur, voluptate cumque. </p></div>
	</div>
</div>